<html>
	<title>
	
	</title>
		
		<head>
		
			<script src="jquery.js">
			</script>
			<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
			<script src="bootstrap/js/bootstrap.min.js">
			</script>
			<link rel="stylesheet" type="text/css" href="main.css"/>
		
		</head>
	
			<body>
			
<div class="col-md-12 col-xs-12 col-sm-12" align=center>
						
							<button class="btn btn-primary glyphicon glyphicon-th-large btn" type="button" >
							Inicio
							</button>
							
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-primary glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								 Componentes
									<span class="caret">
									</span>
								</button>
								<ul class="dropdown-menu">
								  <li><a href="#">Gabinete</a></li>
								  <li><a href="#">Tarjetas Madre</a></li>
								  <li><a href="#">Procesador</a></li>
								  <li><a href="#">Tarjeta de Video</a></li>
								  <li><a href="#">Memorias RAM</a></li>
								  <li><a href="#">Refrigeramiento</a></li>
								  <li><a href="#">Componentes</a></li>
								</ul>
							</div>
							
							<button class="btn btn-primary glyphicon glyphicon-envelope btn" type="button">
							Contacto
							</button>
							
							<button class="btn btn-primary glyphicon glyphicon-globe btn" type="button">
							Sucursales
							</button>
							
							<button class="btn btn-primary glyphicon glyphicon-user btn" type="button" align=center>
							Iniciar Sesion
							</button>
						
					</div>
			</body>
		
</html>